body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 1em;
    background-image: url('./maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    background: linear-gradient(135deg, rgba(241,231,103,1) 0%, rgba(254,182,69,0.6) 100%);

    display: flex;

}

.header {
    font-family: 'Germania One', cursive;
}

.rotors {
    /* background-color: red; */
}

.rotors tr{
    /* display: flex; */
}

.plugboard {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputOutput {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}